p {
  color: #0b0a12;
  font-famicssly: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  font: 700 24px Arial, Helvetica, sans-serif;
} 

h2, h3 {
  color: #110909;
  font: 700 16px Georgia, 'Times New Roman', Times, sans-serif;
}

a:link { color: blue; }
a:visited { color: green; }
a:hover { color: magenta; }
a:active { color: blue; }

.header {
  background-color: #075c18fe;
  padding: 10px;
  text-align: center;
}

footer em, strong {
  background-color: #222;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}